<div *ngIf="items.length > 0" style="background-color: #f3f3f3; border: 1px solid #ccc; border-radius: 5px; padding: 20px; margin-bottom: 20px;">
  <h2 style="font-size: 24px; margin-bottom: 20px;">Shopping Cart</h2>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th style="text-align: left;">Product</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Quantity</th>
        <th style="text-align: center;">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td style="display: flex; align-items: center;">
          <img src="{{ item.imgUrl}}" alt="{{ item.title }}" style="width: 50px; margin-right: 10px;">
          {{ item.title }}
        </td>
        <td style="text-align: center;">{{ item.price | currency:'INR' }}</td>
        <td style="text-align: center;">{{ item.qty }}</td>
        <td style="text-align: center;">{{ (item.price * item.qty) | currency:'INR'}}</td>
        <td style="text-align: center;">
          <button style="background-color: #f00; color: #fff; border: none; border-radius: 5px; padding: 5px 10px;" (click)="removeItem(item)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 20px;">
    <p style="margin-right: 20px;">Total Quantity: {{ totalQuantity }}</p>
    <p style="margin-right: 20px;">Total Value: {{ totalValue | currency }}</p>
    <button style="background-color: #f90; color: #fff; border: none; border-radius: 5px; padding: 5px 10px;" (click)="clearCart()">Clear Cart</button>
  </div>
</div>
<div *ngIf="items.length == 0" style="background-color: #f3f3f3; border: 1px solid #ccc; border-radius: 5px; padding: 20px; margin-bottom: 20px;">
  <p>Your cart is empty.</p>
</div>
